absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
aiohttp @ file:///tmp/build/80754af9/aiohttp_1637844158574/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster==0.7.12
antlr4-python3-runtime==4.9.3
anyio @ file:///tmp/build/80754af9/anyio_1644481698350/work/dist
apex==0.1
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
ase==3.22.1
astroid==2.9.3
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
atom3d==0.2.6
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
autocommand==2.2.2
autopep8==1.6.0
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
biopython==1.79
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
captum==0.2.0
certifi==2023.5.7
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cheroot==9.0.0
CherryPy==18.8.0
cilog==1.2.3
click==8.0.3
cloudpickle==2.1.0
colour==0.1.5
cryptography @ file:///tmp/build/80754af9/cryptography_1633520369403/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dgl-cu113==0.9.0
dglgo==0.0.2
dgllife==0.2.9
dill==0.3.6
dive-into-graphs==1.0.0
docutils==0.18.1
easy-parallel==0.1.6
easydict==1.9
entrypoints==0.3
et-xmlfile==1.1.0
faerun==0.4.7
fire==0.4.0
flake8==4.0.1
fonttools==4.25.0
freesasa==2.1.0
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767111923/work
fsspec==2022.11.0
future==0.18.2
google-auth @ file:///tmp/build/80754af9/google-auth_1626320605116/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
googledrivedownloader==0.4
graphviz==0.19.2
greenlet @ file:///tmp/build/80754af9/greenlet_1628887725296/work
grpcio @ file:///tmp/build/80754af9/grpcio_1637590823556/work
gym==0.26.2
gym-notices==0.0.8
h5py==3.7.0
hydra-core==1.2.0
hyperopt==0.2.7
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagesize==1.4.1
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1638542885373/work
importlib-resources==5.8.0
inflect==6.0.2
ipykernel @ file:///tmp/build/80754af9/ipykernel_1633545412716/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1645174282670/work
ipython @ file:///tmp/build/80754af9/ipython_1643818147236/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1660929733321/work
isodate==0.6.1
isort==5.10.1
jaraco.classes==3.2.3
jaraco.collections==3.8.0
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jedi==0.18.1
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
joblib==1.1.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1636524756443/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1639326415622/work/jupyter-lsp
jupyter-server @ file:///opt/conda/conda-bld/jupyter_server_1644494914632/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1643984239174/work
jupyterlab-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1641036216377/work/jupyterlab-lsp
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///opt/conda/conda-bld/jupyterlab_server_1644500396812/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
lazy-object-proxy==1.7.1
lightning-utilities==0.3.0
littleutils==0.2.2
llvmlite==0.38.0
lmdb @ file:///tmp/build/80754af9/python-lmdb_1619708137835/work
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1645455682260/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
meeko==0.4.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
more-itertools==9.1.0
mpmath==1.2.1
msgpack==1.0.4
multidict @ file:///opt/conda/conda-bld/multidict_1640703752579/work
multipledispatch==0.6.0
multiprocess==0.70.14
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic @ file:///opt/conda/conda-bld/nbclassic_1644943264176/work
nbclient @ file:///tmp/build/80754af9/nbclient_1645431659072/work
nbconvert @ file:///opt/conda/conda-bld/nbconvert_1641309195684/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
netron==5.7.0
networkx==2.6.3
nglview @ file:///home/conda/feedstock_root/build_artifacts/nglview_1623387107190/work
notebook @ file:///tmp/build/80754af9/notebook_1645002536250/work
numba==0.55.1
numexpr @ file:///tmp/build/80754af9/numexpr_1640704208950/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
numpydoc==1.4.0
oauthlib @ file:///opt/conda/conda-bld/oauthlib_1644332107998/work
ogb==1.3.3
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
omegaconf==2.2.2
openpyxl==3.0.10
ortools==9.3.10497
outdated==0.2.1
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso==0.8.3
pathos==0.3.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
platformdirs==2.5.1
pluggy==1.0.0
Pmw==2.1.1
portend==3.1.0
pox==0.3.2
ppft==1.7.6.6
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.20.1
psutil==5.9.1
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py4j==0.10.9.5
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycairo==1.19.1
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.9.1
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT @ file:///tmp/build/80754af9/pyjwt_1619651636675/work
pylint==2.12.2
pymol==2.5.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrr==0.10.3
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
pyscf==1.7.6.post1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.21.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
pytorch-lightning==1.8.3.post1
pytz==2021.3
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638436375034/work
rdflib==6.1.1
rdkit-pypi==2022.3.4
reportlab==3.5.67
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.0
rope==0.23.0
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.12.2
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shap==0.41.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.7
sniffio @ file:///tmp/build/80754af9/sniffio_1614030475067/work
snowballstemmer==2.2.0
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1638290671404/work
style==1.1.0
sympy==1.10
tables==3.7.0
tabulate==0.8.10
tempora==5.2.1
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1644015949874/work/tensorboard-2.8.0-py3-none-any.whl
tensorboard-data-server @ file:///tmp/build/80754af9/tensorboard-data-server_1633035064162/work/tensorboard_data_server-0.6.0-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit==1.6.0
tensorboardX==2.5.1
termcolor==2.1.1
terminado @ file:///tmp/build/80754af9/terminado_1644322581811/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
threadpoolctl==3.1.0
tmap==1.0.6
toml==0.10.2
torch==1.12.1
torch-cluster==1.6.0
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-spline-conv==1.2.1
torch-tb-profiler==0.4.0
torchaudio==0.12.1
torchdiffeq==0.2.3
torchmetrics==0.11.0
torchvision==0.13.1
torchviz==0.0.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm==4.63.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typed-argument-parser==1.7.2
typer==0.6.1
typing-inspect==0.7.1
typing_extensions==4.4.0
ujson==5.1.0
update==0.0.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614804261064/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1655939017940/work
wrapt==1.13.3
xeus-python==0.13.6
xeus-python-shell @ file:///home/conda/feedstock_root/build_artifacts/xeus-python-shell_1642004964212/work
XlsxWriter==3.0.3
yacs==0.1.8
yapf==0.32.0
yarl @ file:///tmp/build/80754af9/yarl_1606939922162/work
zc.lockfile==3.0.post1
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
